@import 'bootstrap';
@import 'weather';

$footer-height: 0px;

html {
  min-height: 100%;
  position: relative;
  background: -webkit-linear-gradient(to bottom, #3a404e, #201d28);
  background: linear-gradient(to bottom, #3a404e, #201d28);
}

body {
  margin-bottom: $footer-height;
  background: transparent;
  color: #fff;
}

#content {

}

.navbar {
  background: transparent;
  .navbar-brand {
    color: #fff;
  }
  a, .nav-link {
    color: #fff;
  }
}

.btn, .badge-pill {
  cursor: pointer;
}
